/* Generales */
h1, h2, h3, h4, h5, h6, a{
    font-family: 'Anton', sans-serif;
    color: #FFC600;
}

p,{
    font-family: 'Quicksand', sans-serif;
    padding: 20px 0px 0px 40px;
}


li{
    font-family: 'Montaga', sans-serif;
}

table{
    font-family: 'Quicksand', sans-serif;
}

/* header */

header{
    width: 100%;
    height: 90vh;
    background-image: url('../img/img-header.jpg');
    background-position: center top;
    background-size: cover;

    color: #FFC600;
}

header h1{
    font-size:  60px ;
    text-transform: uppercase;
}

header p{
    font-size: 16px;
    color: FFC600;
}

header ul{
    font-size: 16px;
    color: #FFC600);
    text-align: right;
    list-style: none;
}
/* section herramientas */

.logos-programas{
    width: 100px;
    height: auto;
    margin: 35px  0px 35px 0px;
    filter: grayscale();
    -webkit-filter: grayscale();
}

/* portafolio */
.avatar-portafolio{
    height: 300px;
    background-image: url('../img/webs/web-patricia-flores.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

/* form */
form{
    background-color: rgba(34, 34, 34, 0.925);
    color:#fff;
}

/* footer */
footer{
    background-color: #000;
}

footer i.fab{
    font-size: 1.4rem;
    color:#fff
}

.Form__FooterWrapper-sc-18c4ntz-1 , .eLqpRX{
    display: none;
}





