/* Generales */
html{
    position: relative;
    scroll-behavior: smooth;
}
body{
    position: relative;
    height: auto;
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6, a{
    font-family: 'Anton', sans-serif;
    color: #FFC600;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}

p,{
    font-family: 'Quicksand', sans-serif;
    padding: 20px 0px 0px 40px;
}

table{
    font-family: 'Quicksand', sans-serif;
}
/* Navbar */
    /* Brand */
    a.navbar-brand {
        text-decoration: underline;
        text-decoration-color: #FFC600;
        -moz-text-decoration-color:;
}

nav{
    border-bottom: 3px solid #FFC600!important;
}

/* header */

header{
    width: 100%;
    height: auto;
    background-image: url('../img/img-header.jpg');
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 56px!important;
    color: #FFC600;
}

header h1{
    font-size:  60px ;
    text-transform: uppercase;
}

header p{
    font-size: 16px;
    border: #000;    
}

header ul{
    font-size: 16px;
    color: #FFC600);
    /* text-align: right; */
    list-style: none;
    background-color: ;
    padding-left:30px
}

header .opaco{
    background-color: rgba(0, 0, 0, 0.6);
}
header a{
    margin-right: 30px;
}

header a:hover{
    color:rgba(255, 255, 255, 0.788);
    text-decoration: none;
}
/* section Experiencia */
#section__experiencia{
    height: auto;
}
/* section herramientas */
#section__herramientas{
    background-color: rgb(238, 238, 238);
}
.logos-programas{
    width: 100px;
    height: auto;
    margin: 35px  0px 35px 0px;
}
.logos-programas:hover{
    -webkit-box-shadow: 0px 10px 13px -7px #fffee1bb, -3px 5px 30px -9px rgba(255,182,31,0.64); 
    box-shadow: 0px 10px 13px -7px #fffee1bb, 0px 0px 30px 0px rgba(255,182,31,0.64);    
}


#metodologias td{
    font-weight: 700;
}


/* portafolio */

.bgc-color{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    position: relative;
}

.bgc-color p{
    color: white;
}
/* carousel */
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.7) ;
}

.carousel-caption h5{
    letter-spacing: 2px;
}

.carousel-control-next-icon ,.carousel-control-prev-icon{
    padding: 15px;
}
.carousel-indicators li{
    height: 15px;
    width: 15px;
}

/* Card */
.card{
    margin-bottom: 20px;
    margin-top: 20px;
    border-left:2px solid #FFC600;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}

.card:hover{
    -webkit-box-shadow: 0px 10px 13px -7px #fffee1bb, -3px 5px 30px -9px rgba(255,182,31,0.64); 
    box-shadow: 0px 10px 13px -7px #fffee1bb, -3px 5px 30px -9px rgba(255,182,31,0.64);    
}
.carousel-indicators li.active{
    background-color: #FFC600!important;
}

a:hover{
    color: initial;
    text-decoration: none!important;
}

.card-body p{
    font-family: 'Quicksand', sans-serif;
    color: rgb(81, 81, 81);
}
.card-header{
    background-color: #fff;
}
#accordion .card{   
    border: 0px;
}

#accordion .card:hover{
    box-shadow: none;
}
#collapseOne .card:hover{
    -webkit-box-shadow: 0px 10px 13px -7px #fffee1bb, -3px 5px 30px -9px rgba(255,182,31,0.64); 
    box-shadow: 0px 10px 13px -7px #fffee1bb, -3px 5px 30px -9px rgba(255,182,31,0.64);
}
#collapseOne .card{
    margin-bottom: 20px;
    margin-top: 20px;
    border-left:2px solid #FFC600;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}

h5 .btn {
color:#FFC600!important;
letter-spacing: 2px;
}

#headingOne{
    border-top: 2px solid #FFC600;
    border-bottom: 2px solid #FFC600;
    
}
/* form */
form{
    background-color: rgba(34, 34, 34, 0.925);
    color:#fff;
}

/* footer */
footer{
    background-color: #000;
}

footer i.fab{
    font-size: 1.4rem;
    color:#fff
}
/* form */
.Form__FooterWrapper-sc-18c4ntz-1 , .eLqpRX{
    display: none;
}

@media (min-width: 576px) { 
    #carouselExampleCaptions{
        display: none;
    }
    header{
        width: 100%;
        height: auto;
        background-image: url('../img/img-header.jpg');
        background-position: ;
        background-size:cover;
        margin-top: 56px;
        color: #FFC600;
    }
    header p{
        font-size: 14px;
    }
    header ul li{
        font-weight: 14px;
    }
 }

@media (min-width: 768px) {
    header{
        width: 100%;
        height: 100vh;
        background-image: url('../img/img-header.jpg');
        background-position: center top;
        color: #FFC600;
    }
    header p{
        font-size: 14px;
    }
    header ul li{
        font-weight: 14px;
    }
}

@media (min-width: 992px) { 
    header{
        width: 100%;
        height: 100vh;
        background-image: url('../img/img-header.jpg');
        background-position: right;
        background-size:cover;
        margin-top: 56px;
        color: #FFC600;
    }
    header p{
        font-size: 14px;
    }
    header ul li{
        font-weight: 14px;
    }
}
 }
